<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.user.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.user.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.user.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>com.user.servlet.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductAction</servlet-name>
        <servlet-class>com.user.servlet.editProductAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>incDecRem.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>incDecRemove</servlet-name>
        <servlet-class>com.user.servlet.incDecRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>messageServlet</servlet-name>
        <servlet-class>com.user.servlet.messageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelDelivered</servlet-name>
        <servlet-class>com.user.servlet.cancelDelivered</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePass</servlet-name>
        <servlet-class>com.user.servlet.changePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeAdd</servlet-name>
        <servlet-class>com.user.servlet.changeAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeMob</servlet-name>
        <servlet-class>com.user.servlet.changeMob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductAction</servlet-name>
        <url-pattern>/editProductAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>incDecRemove</servlet-name>
        <url-pattern>/incDecRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>messageServlet</servlet-name>
        <url-pattern>/messageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelDelivered</servlet-name>
        <url-pattern>/cancelDelivered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePass</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeAdd</servlet-name>
        <url-pattern>/changeAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeMob</servlet-name>
        <url-pattern>/changeMob</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
